html{
  box-sizing:border-box;
  font-family:'karla';
}
h2,h4,h3,p{
  margin:0;
}
*,*:before,*:after{
  box-sizing:border-box;
}
body{
  padding:40px;
}
#card{
  width:700px;
  height:450px;
  box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.50);
  background-color:grey;
border-radius:5px;
  overflow:hidden;
}
#top-section{
  background-color:white;
  width:100%;
  height:45%;
  padding:30px;

}
#bottom-section{
  width:100%;
  height:55%;
 
}
#bottom-left-section{
  display:inline-block;
  width:50%;
    height:100%;
  background-color:#14AFBA;
  padding:30px;
  color:#DDEDDF;
  vertical-align:top;
  
  
}
#bottom-right-section{
  display:inline-block;
  width:50%;
    height:100%;
  background-color:#45BEC7; 
  padding:25px;
  color:#DDEDDF;
  vertical-align:top;  
}
#top-section h2{
  color:#14AFBA;
  margin-bottom:20px;
}
#top-section h4{
  color:#B9C700;
  margin-bottom:10px;
  
}
#top-section p{
  color:#98a6bd;
  line-height:25px;
}
#bottom-left-section h4{
  margin-bottom:20px;
}
#price p{
  font-size:25px;
   font-weight:700;
}
#price,#price-frequency {
  display:inline-block;
  margin-bottom:10px;
}
#price-frequency {
  margin-left:7px;
  position:relative;
  bottom:3px;
  opacity:0.6;
}
#bottom-left-section button{
  background-color:#B9C700;
  padding:10px;
  margin-top:30px;
  width:100%;
  border-radius:5px;
    color:white;
  border:0px;
  box-shadow: 2px 5px 13px 0px rgba(0,0,0,0.23);
}
ul{
  list-style:none;
  padding:0; 
  line-height:20px;
  opacity:0.7;
}
#b:hover{
  cursor: pointer;
   background-color:#cbd911;
  transform:scale(1.02);
}
#bottom-right-section h4{
  margin-bottom:20px;
}
#fontsize{
  font-size:15px;
}
